%h1 Produtos

= will_paginate @produtos

%table
  %thead
    %tr
      %th Nome
      %th Preco
  %tbody
    - @produtos.each do |produto|
      %tr
        %td= produto.nome
        %th= number_to_currency produto.preco

= will_paginate @produtos
